
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home Page</h2>
<div>@Html.ActionLink("Registration", "Create", "Candidate")</div>
<div>@Html.ActionLink("AdminLogin", "Login", "Admin")</div>
<div>@Html.ActionLink("StudentLogin", "Login", "Candidate")</div>

